.footer {
  background: #020617;
  color: white;
  text-align: center;
  padding: 40px 20px;
  border-top: 1px solid #00f7ff;
}

.footer h2 {
  color: #00f7ff;
  margin-bottom: 10px;
}

.footer p {
  margin: 10px 0;
  opacity: 0.8;
}

/* SOCIAL ICONS */
.social-icons {
  margin: 20px 0;
}

.social-icons a {
  margin: 0 10px;
  font-size: 20px;
  color: white;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #00f7ff;
}

/* COPYRIGHT */
.copy {
  font-size: 12px;
  opacity: 0.6;
}